<!-- Slider -->
<section id="sec-slider" style="margin-top: -25px;">
    <div id="jssor_1" class="slider-jssor">
        <div class="js-slider" data-u="slides" >
            <div data-p="225.00" style="display: none;">
                <%= image_tag "sliders/slider-01.jpg", alt: "logo" %>
            </div>
            <div data-p="225.00" style="display: none;">
                <%= image_tag "sliders/slider-02.jpg", alt: "logo" %>
            </div>
            <div data-p="225.00" style="display: none;">
                <%= image_tag "sliders/slider-03.jpg", alt: "logo" %>
            </div>
        </div>
                <!-- caption -->
        <div class="slider-text-center">
            <div class="center">
                <div class="slider-logo">
                    <%= image_tag "tdrlogo2.png", alt: "logo",
                        class: "wow zoomIn" %>
                </div>
                <div class="slider-caption">
                    <div class="big-caption wow zoomIn" data-wow-delay="1s">
                    Travel Destination Review
                    </div>
                    <p class="wow zoomIn" data-wow-delay="1.4s">Trustworthy ● Delightful ● Refreshing</p>
                </div>
            </div>
        </div>
                <!-- navigator -->
        <div data-u="navigator" class="jssorb05" data-autocenter="1">
            <div data-u="prototype"></div>
        </div>
    </div>
</section>
<!-- ./Slider -->

<!-- List Top -->
<section id="top-travel">
    <div class="block-title">
        <h1 class="title">
            <span class="name-title">
                <span>Top Travel</span>
            </span>
        </h1>
    </div>
        <!-- List -->
    <div class="container">
        <div class="list-travel">
            <div class="owl-carousel owl-client">
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list1.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du lịch Hà Nội</a>
                            </h4>
                            <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list5.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du Lịch Phong Nha</a>
                            </h4>
                            <p class="description">PHong Nha là một trong những CAVE được ghi nhận là di sản cấp thế giới.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list2.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du lịch Hà Nội</a>
                            </h4>
                            <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list3.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du lịch Hà Nội</a>
                            </h4>
                            <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list4.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du lịch Hà Nội</a>
                            </h4>
                            <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list7.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du Lịch Phong Nha</a>
                            </h4>
                            <p class="description">PHong Nha là một trong những CAVE được ghi nhận là di sản cấp thế giới.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list5.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du lịch Hà Nội</a>
                            </h4>
                            <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list6.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du lịch Hà Nội</a>
                            </h4>
                            <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
                <div class="item">
                    <div class="card" style="background: url(<%= asset_path 'list/list7.jpg' %>) center center / cover">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hot</h6>
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="">Du lịch Hà Nội</a>
                            </h4>
                            <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                        </div>
                        <div class="filter"></div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top -->

<!-- List New-->
<section id="new-travel">
    <div class="block-title">
        <h1 class="title">
            <span class="name-title">
                <span>New Travel</span>
            </span>
        </h1>
    </div>
        <!-- List -->
    <div class="container">
        <div class="list-travel">
            <div class="card-box col-md-4 col-sm-6">
                <div class="card">
                    <div class="header" style="background: url(<%= asset_path 'list/list7.jpg' %>) center center /cover">
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <h6 class="category">News</h6>
                        <h4 class="title"><a href="#">Đà Lạt thành phố mộng mơ</a></h4>
                        <p class="description">Đà Lạt xứ sở ngàn hoa rực rỡ sắc màu.</p>
                    </div>
                </div> <!-- end card -->
            </div>
            <div class="card-box col-md-4 col-sm-6">
                <div class="card">
                    <div class="header" style="background: url(<%= asset_path 'list/list4.jpg' %>) center center /cover">
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <h6 class="category">News</h6>
                        <h4 class="title"><a href="#">Du lịch Hạ Long</a></h4>
                        <p class="description">Hạ Long là vịnh đẹp nhất thế giới.</p>
                    </div>
                </div> <!-- end card -->
            </div>
            <div class="card-box col-md-4 col-sm-6">
                <div class="card">
                    <div class="header" style="background: url(<%= asset_path 'list/list2.jpg' %>) center center /cover">
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <h6 class="category">News</h6>
                        <h4 class="title"><a href="">Du lịch Hà Nội</a></h4>
                        <p class="description">Hà Nội có rất nhiều con phố có đẹp như PHỐ VỌNG, TRẦN DUY HƯNG.</p>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="card-box col-md-4 col-sm-6">
                <div class="card">
                    <div class="header" style="background: url(<%= asset_path 'list/list5.jpg' %>) center center /cover">
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <h6 class="category">News</h6>
                        <h4 class="title"><a href="">Du Lịch Phong Nha</a></h4>
                        <p class="description">PHong Nha là một trong những CAVE được ghi nhận là di sản cấp thế giới.</p>
                    </div>
                </div> <!-- end card -->
            </div>

        </div>
    </div>
</section>
<!-- New -->

<script>
    $(document).ready(function () {
        var jssor_1_options = {
          $AutoPlay: true,
          $SlideDuration: 1000,
          $SlideEasing: $Jease$.$OutQuint,
          $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$,
            $SpacingX: 35,
            $Orientation: 1,
          }
        };
    
        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
        jssor_1_slider.$Play();
        function ScaleSlider() {
            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 1920);
                jssor_1_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
    });
</script>