<% provide :title, t("alllocations") %>
<h1><%= t :alllocations %></h1>
<div class="row">
  <% @locations.each do |location| %>
    <li id="location-<%= location.id %>">
      <%= image_tag location.picture.url if location.picture? %>
      <%= location.name %>
      <%= location.rating %>
      <%= location.introduction %>
      <%= link_to t(:delete), [:admin, location], 
        method: :delete, data: {confirm: t(:areyousure)} %>
      <%= link_to t(:editlocation), edit_admin_location_path(location) %>
    </li>
  <% end %>
  <%= will_paginate %>
</div>
