<div id="comment_<%= comment.id %>" class="comment-review">
  <div class="row review-all">
    <div class="col-md-11">
      <div class="review-content">
        <div class="review-name">
          <%= link_to comment.user.name, comment.user %>
          <span class="content"><%= comment.content %></span>
        </div>
      </div>
      <div class="review-votes">
        <div class="review-created"><%= comment.created_at.strftime t(:timetype) %></div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="pull-right">
        <% if can? :manage, comment %>
          <div class="review-action">
            <%= link_to edit_comment_path(comment), comment: comment, 
              remote: true do %>
              <i class="glyphicon glyphicon-edit"></i>&nbsp;
            <% end %>
  
            <%= link_to comment, method: :delete, data: {confirm: t("confirm_cm")},
             remote: true do %>
              <i class="glyphicon glyphicon-remove"></i>&nbsp;
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
