<%= form_for @review do |f| %>
  <div class="form-review">
    <div class="row">
      <%= f.hidden_field :location_id, value: location.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :rating, value: 0 %>

      <div id="rating-form">
        <label>Rating: </label>
      </div>
      
      <%= f.text_area :content, rows: 7, placeholder: t(:addreview), class: "form-control form-margin",
          id: "review_content_#{location.id}" %>
      <%= f.submit t(:submitreview), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
