<div class="col-md-10 cod-md-offset-1 ">
  <div class="row">
    <%= link_to t("Add Request"), new_request_path,
      class: "btn btn-primary" %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t "Index" %></th>
          <th><%= t "Content" %></th>
          <th><%= t "Time Create" %></th>
          <th><%= t "Status" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="requests-body">
        <%= render "request" %>
      </tbody>
    </table>
    <%= paginate @requests %>
  </div>

</div>
