<% provide :title, t(:all_categories) %>
<h1><%= t :all_categories %></h1>
<div class="col-lg-4 col-lg-offset-5">
  <div class="center form-group">
    <%= link_to t(:newcategory), new_admin_category_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
    <div class="form-group">
        <%= f.label :name_cont, 'Category Name:' %>
        <%= f.text_field :name_cont, class: "form-control" %><br>
    </div>
    <%= f.submit 'Search', class: "btn btn-default" %>
<% end %>
</div>
<% if can? :manage, @users %>
<div class="col-sm-6 col-sm-offset-3">
  <div class="row">
    <table class="table table-striped">
    <thead>
      <th><%= sort_link(@search, :name, "Name") %></th>
      <th><%= t "category.created_at" %></th>
      <th><%= t "category_id.update_at" %></th>
      <th>Action</th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td ><%= link_to category.name, admin_category_path(category) %></td>
          <td><%= category.created_at.strftime t "time_format" %></td>
          <td><%= category.updated_at.strftime t "time_format" %></td>
          <td class="dn-action-padding">
            <%= link_to t(:edit), edit_admin_category_path(category),
              class: "btn btn-primary" %>
            <%= link_to t(:delete), [:admin, category], method: :delete,
              data: {confirm: t(:sure)}, class: "btn btn-danger btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @categories, theme: 'twitter-bootstrap-3' %>
<% end %>
