<% provide :title, t(:all_categories) %>
<h1><%= t :all_categories %></h1>
<%= link_to t(:create), new_admin_category_path, class: "btn btn-primary" %>
  <table class="table">
    <thead>
      <th><%= t "category.name" %></th>
      <th><%= t "category.created_at" %></th>
      <th><%= t "category_id.update_at" %></th>
      <th class="action" width="150">Action</th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, admin_category_path(category) %></td>
          <td><%= category.created_at.strftime t(:time_type) %></td>
          <td><%= category.updated_at.strftime t(:time_type) %></td>
          <td class="dn-action-padding">
            <%= link_to t(:edit), "#",
              class: "btn btn-primary" %>
            <%= link_to t(:delete), [:admin, category], method: :delete,
              data: {confirm: t(:sure)}, class: "btn btn-danger btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
