<div class="cod-md-10 cod-mod-offset-1">
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th><%= t "id" %></th>
        <th><%= t "User" %></th>
        <th><%= t "Content" %></th>
        <th><%= t "Status" %></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each_with_index do |request, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to request.user.name.truncate(15), [:admin, request.user] %></td>
          <td><%= request.content.truncate 50 %></td>
          <td>
            <%= request.status %>
          </td>
          <td>
            <%= link_to "", admin_request_path(request),
              class: "glyphicon glyphicon-log-in" %>
            <% if request.waitting? %>
              <%= link_to "", admin_request_path(request, status: "accepted"), method: :put,
                class: "glyphicon glyphicon-ok" %>
              <%= link_to "", admin_request_path(request, status: "denied"), method: :put,
                class: "glyphicon glyphicon-minus-sign" %>
            <% end %>
            <%= link_to "", admin_request_path(request[:id]),
              method: :delete, data: {confirm: t("admin.messages.confirm")},
              class: "glyphicon glyphicon-remove" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @requests %>
</div>
