<h3 class="text-center">All Users</h3>
<div class="col-sm-6 col-sm-offset-3">
  <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.label :name_cont, 'User Name:' %>
      <%= f.text_field :name_cont, class: "form-control" %><br>
    </div>
    <%= f.submit 'Search', class: "btn btn-default" %>
  <% end %>
</div>
<div class="container-fluid">
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%= user.email %></td>
            <td>
            <% unless user.admin? %>
              <%= link_to t("button.delete"), admin_user_path(user),
              method: :delete, data: {confirm: "Are you sure?"},
              class: "btn btn-danger" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 text-center">
    <h2>Activities</h2>
      <ul class="list-group">
        <%= @activities.blank? ? t("activities.nothing") 
          : render_activities(@activities) %>
      </ul>
  </div>
</div>
