<div id="review_<%= review.id %>" class=" col-md- 10 col-md-offset-1 well well-lg review-hover">
  <div class="row" >
    <div class="col-md-9" >
      <div>
        <b><%= link_to review.user.name, review.user %></b>
        </br>
        <%= review.content %>
        <br/>
        <h6>Reviewed about ⚬ <%= review.created_at.strftime t(:timetype) %></h6>
      </div>
    </div>  
  </div>
  <div class="clearfix"></div>
  <div id="comment_<%= review.id %>">
    <div class= "col-md-9 col-md-offset-0">
      <%= render review.comments, review: review if review.comments.any? %>
    </div>
  </div>
  <div class="pull-right">
    <span class="votes">
      <%= render "reviews/votes", review: review %>
    </span>

    <% if can? :manage, review %>
      <small>
        <%= link_to edit_review_path(review), review: review, 
          remote: true do %>
          <i class="glyphicon glyphicon-edit"></i>&nbsp;
          <%= t "edit" %>
        <% end %>

        <%= link_to review, method: :delete, data: {confirm: t("confirm_rv")},
         remote: true do %>
          <i class="glyphicon glyphicon-remove"></i>&nbsp;
          <%= t "delete" %>
        <% end %>
      </small>
    <% end %>    
  </div>
  <%= link_to t("comment_rv"), review_path(review),
    class: "btn btn-primary btn-sm" %>
</div>
