<div id="review_<%= review.id %>" class="comment-review">
  <div class="row review-all">
    <div class="col-md-2">
      <%= cl_image_tag review.user.avatar_url(:thumbnail),
        class: "img-responsive" %>
      <br>
      <div class="review-name" style="margin-top: 10px;">
        <%= link_to review.user.name, review.user %>
        <br>
        <%= review.user.email %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="review-content">
        <div class="review-name">
          <h6>User Rating:</h6>
          <div class="review-rating" data-score="<%= review.rating %>"></div>
          <h6>Review's Content:</h6>
          <div class="content"><%= review.content %></div>
        </div>
      </div>
      <div class="review-votes">
        <div class="votes">
          <%= render "reviews/votes", review: review %>
        </div>
        <div class="review-created">
          <%= review.created_at.strftime t(:timetype) %>
        </div>
        <div class="clearfix"></div>
        <div style="margin-top: 5px;">
          <%= link_to (pluralize(review.comments.count, t("comments"))),
            review_path(review), class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>  
    <div class="col-md-1">
      <div class="pull-right">
        <% if can? :manage, review %>
          <div class="review-action">
            <%= link_to "", edit_review_path(review),
              class: "glyphicon glyphicon-edit" %>
            <%= link_to "", review_path(review), method: :delete,
              data: {confirm: t("confirm_rv")}, class: "glyphicon glyphicon-remove" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
