<div class ="container">
  <%= render @review %>
</div>

<div class="clearfix"></div></br>
<div id="comments">
  <div class="col-md-10 col-md-offset-2">
    <div id="comment_count">
      <%= pluralize @review.comments.count, t("comments") %>
    </div>
    </br>
    <% if user_signed_in? %>
      <div class="comment-form" id="comment-form">
        <%= render "shared/comment_form", review: @review %>
      </div>
    <% end %>
    <div id="error_messages"></div>

    <div id="comment_<%= @review.id %>">
      <%= render @review.comments, review: @review if @review.comments.any? %>
    </div>
  </div>
</div>