<div>
  <h2><%= @review.location.name %><h2>
</div>
<div class ="container">
  <%= render @review %>
</div>

<div class="clearfix"></div></br>
<div id="comments">
  <div class="col-md-10 col-md-offset-2">
    <div id="comment_count">
      <%= pluralize @review.comments.count, t("comments") %>
    </div>
    </br>
    <% if user_signed_in? %>
      <div class="comment-form" id="comment-form">
        <%= render "shared/comment_form", review: @review %>
      </div>
    <% end %>
    <div id="error_messages"></div>
  </div>
</div>
<div class="text-center">
  <%= link_to "Back", :back, class: "btn btn-success" %>
</div>
