<li class="list-group-item list-group-item-danger">
  <% if a.trackable %>
    <%= render "shared/activity_owner", a: a %> disliked
    <%= a.recipient.name %>'s review in
    <%= link_to a.trackable.location.name, location_path(a.trackable) %>
    <%= time_ago_in_words activity.created_at %> <%= t :ago %>
  <% else %>
  <% end %>
</li>
