<% provide :title, @location.name %>

<div class="row margin-bottom container">
  <div class="col-md-6">
    <%= image_tag @location.picture.url, alt: t("locationalt"), class:
    "img-responsive img-thumbnail", width: 700,
    height: 700 %>
  </div>  

  <div class="col-md-6">
    <div id="location-<%= location.id %>">
      <h3><%= @location.name %></h3>
      <h4 class="category">
        <%= t "category" %>
        <%= @location.category.name %>
      </h4>
      <h4 class="rate">
        <%= t "rating" %>
        <%= @location.rating %>
      </h4>
      <h4 class="introduction">
        <%= t :introduction %> 
        <%= @location.introduction %>
      </h4>
      <% if user_signed_in? %>
        <h4 class="rate-form">
          <%= t "rate" %> 
          <%= rating_for @location, "service", star: 5, enable_half: true %>
        </h4>
    </div>
    <section class="review">
      <%= render "shared/review_form", location: @location %>
    </section>
    <% end %>
  </div>
  <div id="review_count">
    <%= @location.reviews.count %>
    <%= t :reviews %>
  </div> 
</div>
<div class ="col-md-9"> 
  <div id="reviews_<%= location.id %>">
    <%= render location.reviews, location: @location if location.reviews.any? %>
  </div>
</div>
<div>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=1450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
</div>

