<span class="title">
  <%= link_to location.name, location %>
</span>
<span class="location-info">
  <%= image_tag location.picture.url if location.picture? %>
  <%= t :name %>
  <%= location.name %>
  <%= t :introduction %>
  <%= location.introduction %>
</span>
<span class="timestamp">
  <%= t :posted %>
  <%= time_ago_in_words location.created_at %>
</span>
<div id="reviews_<%= location.id %>">
  <%= render location.reviews, location: location if location.reviews.any? %>
</div>
<div class="review">
  <%= render "shared/review_form", location: location if logger? %>
</div>
