<span class="title">
  <%= link_to location.name, location %>
</span>
<span class="location-info">
  <%= image_tag location.picture.url if location.picture? %>
  <%= t :name %>
  <%= location.name %>
  <%= t :introduction %>
  <%= location.introduction %>
</span>
<span class="timestamp">
  <%= t :posted %>
  <%= location.created_at.strftime t(:timetype) %>
</span>
<% if logger? %>
  <div id="review_count">
    <%= location.reviews.count %>
    <%= t :reviews %>
  </div>
  <div class="review">
    <%= render "shared/review_form", location: location %>
  </div>
  <div id="reviews_<%= location.id %>">
    <%= render location.reviews, location: location if location.reviews.any? %>
  </div>
<% end %>
