<span class="title">
  <%= link_to location.name, location %>
</span>
<span class="location-info">
  <%= image_tag location.picture.url if location.picture? %>
  <%= t :name %>
  <%= location.name %>
  <%= t :introduction %>
  <%= location.introduction %>
</span>
<span class="timestamp">
  <%= t :posted %>
  <%= location.created_at.strftime t(:timetype) %>
</span>
<span class="location-rating" id="location_rating">
  <% if location.rating > 0.0 %>
    <%= t :rating %>
    <%= location.rating %>
  <% end %>
</span>

<% if user_signed_in? %>
  <div id="rate-form">
    <%= rating_for location, "service", star: 5, enable_half: true %>
  </div>
  <div id="review_count">
    <%= location.reviews.count %>
    <%= t :reviews %>
  </div>
  <section class="review">
    <%= render "shared/review_form", location: location %>
  </section> >
  <div id="reviews_<%= location.id %>">
    <%= render location.reviews, location: location if location.reviews.any? %>
  </div>
<% end %>
