<% provide :title, @location.name %>
<div class="container page-location">
  <div class="margin-top">
    <div class="row">
      <div class="col-md-5">
        <div id="location-<%= location.id %>" class="location">
          <div class="loca-name"><%= @location.name %></div>
          <div class="loca-content">
            <span class="title">Category:</span>
            <%= @location.category.name %>
          </div>
          <div class="loca-content">
            <span class="title">Introduction:</span> 
            <%= @location.introduction %>
          </div>
          <div class="loca-content">
            <div class="row">
              <div class="col-sm-12">
                <span class="title">Rating:</span>
                <%= @location.rate_avg.round(2) %> 
              </div>
              <div class="col-sm-12">
                <span class="title">Number of Reviews:</span>
                <%= @location.reviews.count %>
              </div>
              <div class="col-sm-6" style="margin: 10px 0;">
                <a class="page-scroll" href="#review_1">
                  <span class="btn btn-primary">See all reviews</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>       
      <div class="col-md-7">
        <div id="loca-slider" style="position: relative; width: 600px;
          height: 450px; overflow: hidden; visibility: hidden;">
            <div data-u="slides" style="cursor: default; position: relative;
              width: 600px; height: 450px; overflow: hidden;">
                <div data-p="225.00" style="display: none;">
                  <%= image_tag @location.picture.url, alt: t("locationalt"),
                    class: "img-responsive img-thumbnail" %>
                </div>
                <% @location.images.each do |image| %>
                  <div data-p="225.00" style="display: none;">
                    <%= cl_image_tag image.img_url, alt: t("locationalt"),
                      class: "img-responsive img-thumbnail" %>
                  </div>
                <% end %>
            </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora22l" style="top:165px;
              left:10px;width:50px;height:80px;" data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora22r" style="top:165px;
              right:10px;width:50px;height:80px;" data-autocenter="2"></span>
        </div>       
      </div>  
    
    </div>
  </div>
  <hr>
  <div class="map">
    <iframe
    width="1400"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9UuCkSAFmgLATi22JcJ4dK8HsajP3QE4&q=<%= @location.address %>"
    allowfullscreen>
    </iframe>
  </div>
  <hr>
  <div class ="row">
    <div class="col-md-12">
      <div class="review">
        <% if user_signed_in? %>
          <% unless current_user.review_location?(location.id).present? %>
            <h2>Write Your Review</h2>
            <%= render "shared/review_form", location: @location %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12">
      <h2>List Review</h2>
      <div id="reviews_<%= location.id %>" class="review-comment">
        <%= render @reviews if location.reviews.any? %>
      </div>
      <%= paginate @reviews, theme: 'twitter-bootstrap-3' %>
    </div>      
  </div>
</div>

<script>
  $(document).ready(function () {
      var jssor_options = {
        $AutoPlay: true,
        $SlideDuration: 1000,
        $SlideEasing: $Jease$.$OutQuint,
        $ArrowNavigatorOptions: {
          $Class: $JssorArrowNavigator$
        },
      };
  
      var loca_slider = new $JssorSlider$("loca-slider", jssor_options);
      loca_slider.$Play();
      function ScaleSlider() {
          var parentSize = loca_slider.$Elmt.parentNode.clientWidth - 30;
          if (parentSize) {
              parentSize = Math.min(parentSize, 1920);
              loca_slider.$ScaleWidth(parentSize);
          }
          else {
              window.setTimeout(ScaleSlider, 30);
          }
      }
      ScaleSlider();
      $(window).bind("load", ScaleSlider);
      $(window).bind("resize", ScaleSlider);
      $(window).bind("orientationchange", ScaleSlider);
  });
</script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1000, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

