<% provide :title, t(:alllocation) %>
<h1><%= t :alllocation %></h1>
 
<%= will_paginate %>
<ul class="locations">
  <% @locations.each do |location| %>
    <li id="location-<%= location.id %>">
      <span class="title">
        <%= link_to location.name, location %>
      </span>
      <span class="location-info">
        <%= image_tag location.picture.url if location.picture? %>
        <%= t :name %>
        <%= location.name %>
        <%= t :introduction %>
        <%= location.introduction %>
      </span>
      <span class="timestamp">
        <%= t :posted %>
        <%= time_ago_in_words location.created_at %>
      </span>
      <div>
        <%= link_to t(:addreview), location if user_signed_in? %>
      </div>
    </li>
  <%end%>
</ul>
<%= will_paginate %>
