<% provide :title, t(:alllocation) %>

<div id="wrapper">
  <div id="container" class="container">
    <div class="row">
      <div class="post-detail all-post col-md-9">
        <div class="box-title box-title-child">
          <div class="presentation">
            ⚬ <%= link_to t(:post), "#" %> ⚬
          </div>
        
          <div class="row blog-post post-list">
            <% @locations.each do |location| %>
              <div class="col-md-6 col-sm-6">
                <div class="box-top">
                  <div class="row" data-href="<%= location_path location %>">
                    <div class="active-content">
                      <div class="attribution">
                        <div class="content">
                          <div class="name" data-href="<%= location_path location %>">
                            <%= link_to location.name, location_path(location) %>
                          </div>
                          <div class="date">
                            Created at ⚬ <%= location.created_at.strftime t(:timetype) %>
                          </div>
                        </div>
                        <% if user_signed_in? %>
                          <div class="category">
                            <%= link_to location.category.name, category_path(location.category), class: "category-button" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="active-photo">
                      <%= image_tag location.picture.url, alt: t("locationalt") %>
                    </div>
                    <div class="active-content">
                      <div class="introduction">
                        <p data-href="<%= location_path location %>"><%= location.introduction %></p>
                      </div>
                      <div class="active-action">
                        <% if user_signed_in? %>
                            <div class="button-review" data-href="<%= location_path location %>">
                              <%= link_to t(:Review), location_path(location), class: "btn btn-primary" %>
                            </div>
                        <% end %>
                        <div class="action-label">
                          <div class="rating">
                            <i class="glyphicon glyphicon-heart-empty"></i>&nbsp;<%= location.rate_avg.round(2) %>
                          </div>
                          <div class="review">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;<%= location.reviews.count %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div> 
        </div>
      </div>
  
      <div class="col-md-3 well">
        <div class="search-form">
          <h3>Search</h3>
          <%= search_form_for @search, class: "form-inline" do |f| %>
            <%= f.label :name_cont, "Location" %>
            <%= f.search_field :name_cont %>
            <%= f.submit %>
          <% end %>
        </div>
        <div class="list-category">
          <h3>Categories</h3>
          <div class="category">
            <% @categories.each do |category| %>
                <%= link_to category.name, category_path(category), class: "category-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
