
<!-- HEADER -->
<header>
  <div id="header" class="clearfix">
    <div class="container">
      <h1 id="logo">
        <%= link_to root_path do %>
          <%= image_tag "tdrlogo2.png", alt: "logo" %>
        <% end %>
      </h1>
      <nav>
          <div id="icon_menu" class="hidden-lg hidden-md"></div>
          <div id="menu">
              <ul class="mainmenu">
                <% if user_signed_in? && current_user.admin? %>
                  <li class="has-child">
                    <a href="#">Locations</a>
                    <ul class="child">
                      <li><%= link_to "All Locations", admin_locations_path %></li>
                      <li><%= link_to "New Location", new_admin_location_path %></li>
                    </ul>
                  </li>
                  <li><%= link_to "All Users", admin_users_path %></li>
                  <li class="has-child">
                    <a href="#">
                      <%= t "account" %> <b class="caret"></b>
                    </a>
                    <ul class="child">
                      <li><%= link_to "Profile", admin_user_path(current_user) %></li>
                      <li><%= link_to "Edit", edit_user_registration_path %></li>
                    </ul>
                  </li>
                  <li class="lt-child">
                    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger" do %>
                      <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                    <% end %>
                  </li>

                  <% elsif user_signed_in? %>
                  <li class="has-child">
                    <a href="#">
                      <%= t "account" %> <b class="caret"></b>
                    </a>
                    <ul class="child">
                      <li><%= link_to "Profile", "#" %></li>
                      <li><%= link_to "Edit", edit_user_registration_path %></li>
                    </ul>
                  </li>
                  <li class="lt-child">
                    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger" do %>
                      <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                    <% end %>
                  </li>
                <% else %>
                  <li class="lt-child">
                    <%= link_to new_user_session_path do %>
                      <i class="fa fa-sign-in" aria-hidden="true"></i>Login
                    <% end %>
                    <%= link_to "Signup", new_user_registration_path, class: "btn btn-info" %>
                    
                  <!--  <a class="btn btn-primary" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();"> Login</a>-->
		                <!--<a class="btn btn-primary" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();"> Sigup</a>-->
                  </li>
                <% end %>
              </ul>
          </div>
      </nav>
    </div>
  </div> 
</header>
<!-- ./HEADER -->


<script type="text/javascript">
        // js icon menu start
  $("#icon_menu").click(function() {
      $("#menu").stop().slideToggle();
  })

      //  SCRIPT SCROLL
  jQuery(window).mousemove(function(event){
    var Y = $(this).scrollTop();
    mouseY = event.pageY - Y
    if(mouseY <= 15){
        $('#header').removeClass('nav-up');
    }
  });


  var didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var navbarHeight = $('#header').outerHeight();
  
  $(window).scroll(function(event){
    didScroll = true;
  });
  
  setInterval(function() {
    if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
  }, 250);
  
  function hasScrolled() {
    var st = $(this).scrollTop();
      // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
        return;
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('#header').addClass('nav-up');
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
            $('#header').removeClass('nav-up');
        }
    }
    lastScrollTop = st;
  };
  

		
</script>
